<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swift Loans</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

  <!-- <link rel="stylesheet" href="/styles.css"> -->
  <link rel="stylesheet" href="/assets/fonts/stylesheet.css">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
        type="text/css">
  <!-- Page plugins -->
  <link rel="stylesheet" href="/assets/vendor/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/assets/vendor/sweetalert2/dist/sweetalert2.min.css">

  <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/jquery-confirm.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
  <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
</head>
<body>