<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swift Loans</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 

  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/assets/fonts/stylesheet.css">
  <!-- Icons -->
  <link rel="stylesheet" href="/assets/vendor/nucleo/css/nucleo.css" type="text/css">
  <link rel="stylesheet" href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
        type="text/css">
  <!-- Page plugins -->
  <link rel="stylesheet" href="/assets/vendor/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="/assets/vendor/sweetalert2/dist/sweetalert2.min.css">

  <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/jquery-confirm.min.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/dashboard.css" type="text/css">
  <link rel="stylesheet" href="/assets/css/custom.css" type="text/css">
  <script type="application/javascript" src="https://connect.withmono.com/connect.js"></script>
</head>
<body>
  <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar links -->
            <ul class="navbar-nav align-items-center  ml-md-auto ">
                <li class="nav-item d-xl-none">
                    <!-- Sidenav toggler -->
                    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                        <div class="sidenav-toggler-inner">
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                            <i class="sidenav-toggler-line"></i>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                <li class="nav-item dropdown">
                    <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <% if (data && data.user) { %>
                            <div class="media-body  ml-2  d-none d-lg-block">
                                <span class="mb-0 text-sm  font-weight-bold text-white">Welcome, <%= data.user.email %></span>
                                <li><a class="text-white" href="/logout">Log out</a></li>
                            </div>
                          <% } else { %>
                            <li><a href="/login" class="text-white">Log in</a></li>
                            <li><a href="/signup" class="btn text-white">Sign up</a></li>
                          <% } %>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
  <nav>
    <h1><a href="/">Swift Loans</a></h1>
    <ul>
      <% if (data && data.user) { %>
        <li>Welcome, <%= data.user.email %></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>